@page
@model SignalRAssignment.Pages.FeatureModel
@{
    ViewData["Title"] = "Feature";
}

<div class="row">
    <div class="col-md-12">
        <img src="https://d2slcw3kip6qmk.cloudfront.net/marketing/blog/2019Q4/feature-driven-development/feature-driven-development-header.png" class="img-responsive w-100" />
        <h1 class="text-center">Developing Features</h1>
    </div>
</div>